.customer-info {
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Distribute items evenly along the main axis */
  align-items: center; /* Center items along the cross axis */
  margin-top: 20px;
  background-color: #f6f7fa;
}

.customer-detail {
  flex: 1; /* Let this div grow to take up remaining space */
  padding-left: 20px; /* Add some spacing between the icon and details */
}

.info-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%; /* Ensures the background is a circle */
  background-color: red;
  color: white;
  font-size: larger;
  font-weight: bolder;
}

.customer-info button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.customer-info button:hover {
  background-color: darkred;
}

.customer-vehicle,
.customer-order {
  margin-top: 20px;
}

/* style for vehilce adding form */
.form-container {
  max-width: 400px;
  /* margin: 0 auto; */
  padding: 20px;
  background-color: hwb(0 98% 2%);
  /* border: 1px solid #ddd; */
  border-radius: 5px;
}

.form-container input[type="text"] {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 5px;
}

.form-container button {
  width: 30%;
  padding: 10px;
  margin-top: 10px;
  margin-right: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-container button[type="submit"] {
  background-color: #28a745;
}

.form-container button[type="submit"]:hover,
.form-container button[type="button"]:hover {
  background-color: #218838;
}

.form-container button[type="submit"]:focus,
.form-container button[type="button"]:focus {
  outline: none;
}

.cancel-btn {
  background-color: #dc3545;
}

.cancel-btn:hover {
  background-color: #c82333;
}
