.customer-info {
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Distribute items evenly along the main axis */
  align-items: center; /* Center items along the cross axis */
  margin-top: 20px;
  background-color: #f6f7fa;
}

.customer-detail {
  flex: 1; /* Let this div grow to take up remaining space */
  padding-left: 20px; /* Add some spacing between the icon and details */
}

.info-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%; /* Ensures the background is a circle */
  background-color: red;
  color: white;
  font-size: larger;
  font-weight: bolder;
}

.customer-info button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.customer-info button:hover {
  background-color: darkred;
}

.customer-vehicle,
.customer-order {
  margin-top: 20px;
}
