p {
  margin: 0;
  padding: 0;
}

.cv-update {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
/* Styling for the card container */
.service-card {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.service-description {
  margin-top: 10px;
  margin-left: 50px;
}

.service {
  position: relative;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease;
  background-color: #fff;
}

.service:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.service h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.service-description {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
}

.service input[type="checkbox"] {
  margin-left: 90%;
}

.service input[type="checkbox"]:checked + .service-description {
  text-decoration: line-through;
  color: #999;
}

.completed,
.pending {
  width: 90%;
}
.pending {
  background-color: orange;
}
.completed {
  background-color: green;
}
